* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* padding: 0;
  margin: 0;
  overflow: hidden; */
}

body {
  /* padding: 0;
  margin: 0; */
  /* overflow: hidden; */
  /* background-color: #E4E5E8; */

  font-family: Arial;

  /* height: 100vh;
  width: 100vw; */
}


.f1 { font-size: 0.3rem; }
.f2 { font-size: 0.3rem; }
/* .f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; } */

@font-face {
  /* font-family: "NBArchitektStd bold";
  src: url("fonts/NBArchitektStdNeue-Bold.woff2") format("woff2"); */
}

.black {
  color: #171A1A;
}


a {
  /* cursor: ne-resize; */
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

p {
font-size: 8px;
}



@media (max-width: 440px) {
  /* .ui-section {
    width: 95vw;

    position: static;
    top: 0px;
    right: 0px;
    float: right;
    padding-top: 2.5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  } */
}
