---
title: Reverse Engineering
layout: 'base.njk'
description: Berlin based party, label and DIY art space
---


<ul class="tree">
  <li>
    <details open>
      <summary><h1>Events</h1></summary>
      <ul>
        {% for events in collections.events | reverse %}
        <li>
          <details>
            <summary><h2>{{ events.data.title }}</h2></summary>
            <ul>
              <li><div class="list-date"><h3>{{ events.data.date | postDate }}</h3></div></li>
              <li><div class="list-content">{{ events.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary><h2>Releases</h2></summary>
      <ul>
        {% for releases in collections.releases | reverse %}
        <li>
          <details>
            <summary><h3>{{ releases.data.title }}</h3></summary>
            <ul>
              <!-- <li><div class="list-date">{{ releases.data.date }}</div></li> -->
              <li><div class="list-content">{{ releases.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary><h2>Hardware</h2></summary>
      <ul>
        {% for hardware in collections.hardware | reverse %}
        <li>
          <details>
            <summary><h3>{{ hardware.data.title }}</h3></summary>
            <ul>
              <li><div class="list-content">{{ hardware.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary><h2>Recordings</h2></summary>
      <ul>
        {% for recordings in collections.recordings | reverse %}
        <li>
          <details>
            <summary><h3>{{ recordings.data.date | postDate }} / {{ recordings.data.title }}</h3></summary>
            <ul>
              <!-- <li><div class="list-date">{{ recordings.data.date | postDate }}</div></li> -->
              <li><div class="list-content">{{ recordings.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary><h2>Contact</h2></summary>
      <ul>
        {% for contact in collections.contact %}
        <li>
          <details>
            <summary><h3>{{ contact.data.title }}</h3></summary>
            <ul>
              <li><div class="list-content">{{ contact.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
</ul>








