---
title: Reverse Engineering
layout: 'base.njk'
description: Berlin night and DIY art space
---


<ul class="tree">
  <li>
    <details>
      <summary>Events</summary>
      <ul>
        {% for events in collections.events | reverse %}
        <li>
          <details>
            <summary>{{ events.data.title }}</summary>
            <ul>
              <li><div class="list-date">{{ events.data.date | postDate }}</div></li>
              <li><div class="list-content">{{ events.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Releases</summary>
      <ul>
        {% for releases in collections.releases | reverse %}
        <li>
          <details>
            <summary>{{ releases.data.title }}</summary>
            <ul>
              <!-- <li><div class="list-date">{{ releases.data.date }}</div></li> -->
              <li><div class="list-content">{{ releases.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Hardware</summary>
      <ul>
        {% for hardware in collections.hardware | reverse %}
        <li>
          <details>
            <summary>{{ hardware.data.title }}</summary>
            <ul>
              <li><div class="list-content">{{ hardware.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Recordings</summary>
      <ul>
        {% for recordings in collections.recordings | reverse %}
        <li>
          <details>
            <summary>{{ recordings.data.date | postDate }} / {{ recordings.data.title }}</summary>
            <ul>
              <!-- <li><div class="list-date">{{ recordings.data.date | postDate }}</div></li> -->
              <li><div class="list-content">{{ recordings.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Contact</summary>
      <ul>
        {% for contact in collections.contact %}
        <li>
          <details>
            <summary>{{ contact.data.title }}</summary>
            <ul>
              <li><div class="list-content">{{ contact.templateContent | safe }}</div></li>
            </ul>
          </details>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
</ul>








