---
title: Password
layout: 'base.njk'
description: password
---


<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <form id="passwordForm" style="text-align: center;">
    <label for="password">Enter Key:</label>
    <input type="text" id="password" name="password" required>
    <button type="submit">Submit</button>
    <div id="validationResult"></div>
  </form>
</div>